body {
    background-image: url(bg-guess-the-word.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "outfit";
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 430px;
    height: 400px;
    background-color: #030616;
    border-radius: 3%;
    font-family: "outfit";
    flex-direction: column;
}

#title {
    background-image: linear-gradient(to right, #7429C6, #C951E7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
}

#button-gris {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 370px;
    height: 60px;
    background-color: #4A5567;
    border-radius: 3%;
    font-size: 32px;
    font-family: "outfit";
    color: #97A3B6;
    letter-spacing: 5px;
}

#relowf {
    font-family: "outfit";
    font-size: 32px;
    letter-spacing: 15px;
    margin-left: 15px;
}

.descripciones {
    display: flex;
    flex-direction: row;
    width: 370px;
    height: 60px;
    align-self: flex-start;
    font-size: 12px;
    color: #4A5567;
    margin-top: 0;
}

#nivel {
    margin-left: 50px;
}

.circulos {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #4A5567;
    margin-left: 4px;
}

#mistakes {
    margin-left: 40px;
    padding: 0%;
}

#em {
    font-size: 15px;
    color: #97A3B6;
}

.container-buttons {
    display: inline;
}

button {
    width: 45px;
    height: 45px;
    border: 2px solid #4A5567;
    margin-left: 5px;
    border-radius: 20%;
    background-color: #030616;
    color: #F2F5F9;
    font-size: 20px;
}

.input {
    width: 20px;
    height: 20px;
    border: 2px solid #4A5567;
    margin-left: 7px;
    border-radius: 20%;
    background-color: #030616;
    color: #F2F5F9;
    font-size: 20px;
    padding: 10px;
} 

#random {
    font-size: 14px;
    width: 120px;
    height: 35px;
    margin-top: 40px;
    border: 0;
    border-radius: 20%;
    background-color: #C951E7;
    margin-right: 40px;
}

#reset {
    font-size: 14px;
    width: 110px;
    height: 35px;
    margin-top: 40px;
    border: 0;
    border-radius: 20%;
    background-color: #C951E7;
    margin-right: 5px;
}

.display-none {
    display: none;
}

#container-palabras {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.container-random {
    margin-bottom: 30px;
}

#input1 {
    border: 2px solid #C951E7;
}

.fondo-azul {
    background-color: #7429C6;
}

